<ui:composition xmlns:f="http://java.sun.com/jsf/core"
				xmlns="http://www.w3.org/1999/xhtml"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:p="http://primefaces.org/ui"
				xmlns:ui="http://java.sun.com/jsf/facelets">
	
<h:form id="form">
	<p:growl id="msgs" showDetail="true" autoUpdate="true"/>

   	<p:dataTable id="dtBet" var="bet" value="#{betManagerView.betsList}" selectionMode="single" rowKey="#{bet.id}" selection="#{betManagerView.selectedBet}" style="margin-bottom:20px">
		<p:ajax event="rowSelect" listener="#{betManagerView.onRowSelect}"/>	
   		<p:column headerText="ID" style="width:10px">
	        <h:outputText value="#{bet.id}" />
	    </p:column>
	    <p:column headerText="Team1" style="width:100px">
	        <h:outputText value="#{bet.match.team1.name}" />
	    </p:column>
	 
	    <p:column headerText="Team2" style="width:100px">
	        <h:outputText value="#{bet.match.team2.name}" />
	    </p:column>
	 
	    <p:column headerText="Goals for team1" style="width:50px">
			<h:outputText value="#{bet.goal1}" />
	    </p:column>
	    
	    <p:column headerText="Goals for team2" style="width:50px">
               <h:outputText value="#{bet.goal2}" style="center" />
	    </p:column>
	    
	    <p:column headerText="Match's date" style="width:100px">
	        <h:outputText value="#{bet.match.date}" />
	    </p:column>	  
	    <p:column headerText="Bet's date" style="width:100px">
	        <h:outputText value="#{bet.date}" />
	    </p:column>
	</p:dataTable>

	
	<p:commandButton value="Add" id="addBetButton" update="betAddDlg:betAdd" process="@this" action="#{betManagerView.createNewBet}" oncomplete="PF('betAddDialog').show()"/>
	<p:commandButton value="Edit" id="editBetButton" update="betEditDlgForm:betDetail" process="@this" actionListener="#{betManagerView.buttonActionEdit}" styleClass="ui-priority-primary"/>
	<p:commandButton value="Delete" id="delBetButton" process="@this" action="#{betManagerView.deleteBet}"/>
	</h:form>
	
	<p:dialog header="Change your bet!" id="editBetDlgId" widgetVar="betEditDlg" showEffect="fade" hideEffect="fade" resizable="false" appendToBody="false" modal="false">
	<h:form id="betEditDlgForm">
        <p:outputPanel id="betDetail" style="text-align:center;">
            <p:panelGrid  columns="2" columnClasses="label,value">
                 
                <h:outputText value="#{betManagerView.selectedBet.match.team1.name}"/>
                <h:outputText value="#{betManagerView.selectedBet.match.team2.name}" />
                <h:inputText value="#{betManagerView.selectedBet.goal1}" style="width:50px; text-align:center">
                	<f:convertNumber integerOnly="true"/>
                </h:inputText>
                <h:inputText value="#{betManagerView.selectedBet.goal2}" style="width:50px; text-align:center">
                	<f:convertNumber integerOnly="true"/>
               	</h:inputText>
            </p:panelGrid>
        </p:outputPanel>
        <div align="center">
        	<p:commandButton value="Update" id="btnUpdateBet" update="form:dtBet, editBetDlgId" process="@form" action="#{betManagerView.buttonEdit}" oncomplete="PF('betEditDlg').hide();"/>
        </div>
    </h:form>
    </p:dialog>
    
    
    <p:dialog header="Bet Add" id="addBetDlgId" widgetVar="betAddDialog" showEffect="fade" hideEffect="fade" dynamic="true" resizable="false" appendToBody="false" modal="false">
    <h:form id="betAddDlg">
        <p:outputPanel id="betAdd" style="text-align:center;margin:20px">
        	<p:outputLabel for="matches" value="Match:   " />
	   		<p:selectOneMenu id="matches" value="#{betManagerView.match}" converter="matchConverter"  lazy="true" style="width:50px">
	           		<f:selectItem itemLabel="Select One" itemValue="" />
	           		<p:ajax event="change" immediate="true" global="false" />
	            <f:selectItems value="#{betManagerView.matchesList}" />
	        </p:selectOneMenu>
	        <p:separator/>
	        <h:inputText id="goal1" style="width:50px; text-align:center" value="#{betManagerView.newBet.goal1}" label="goal1">
	        	<f:convertNumber integerOnly="true"/>
	        </h:inputText>
	        <h:outputText value="    :    " />
	        <h:inputText id="goal2" style="width:50px; text-align:center" value="#{betManagerView.newBet.goal2}" label="goal2">
	        	<f:convertNumber integerOnly="true"/>
	        </h:inputText>
        </p:outputPanel>
        <div align="center">
        	<p:commandButton value="Save" id="btnAddSave" update="form:dtBet, addBetDlgId" process="@form" action="#{betManagerView.buttonAdd}" oncomplete="PF('betAddDialog').hide();"/>
        </div>
    </h:form>
    </p:dialog>
    
   	<p:dialog header="Delete bet" id="delBetDlgId" widgetVar="betDeleteDlg" showEffect="fade" hideEffect="fade" resizable="false" appendToBody="false" modal="false">
	<h:form id="betDeleteDlgForm">
        <h:outputText value="Do you really want to delete this bet?"/>
        <div align="center">
        	<p:commandButton value="Yes" id="btnYesDeleteBet" update="form:dtBet" process="@form" action="#{betManagerView.btnDeleteBet}" oncomplete="PF('betDeleteDlg').hide();"/>
        	<p:commandButton value="No" id="btnNoDeleteBet" update="form:dtBet" process="@form" oncomplete="PF('betDeleteDlg').hide();"/>
        </div>
    </h:form>
    </p:dialog>
	
	
</ui:composition>