<ui:composition xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:panelGrid>
	
		<h:form>
			<h:panelGrid columns="2" cellpadding="10">
            	<h:outputText value="Comptetition tab" />
	        </h:panelGrid>
		</h:form>
	</h:panelGrid>
</ui:composition>