<ui:composition xmlns:f="http://java.sun.com/jsf/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:form id="formMatch">
	 <p:growl id="msgs"  autoUpdate="true" showDetail="true"/>
	

	<!-- <h:form id="form"> -->
		
   
		
		<p:dataTable id="singleDT" var="match" value="#{matchManagerView.matches}" selectionMode="single" selection="#{matchManagerView.selectedMatch}" rowKey="#{match.id}">
    		<p:ajax global="false" event="rowSelect"   /> 
    
    <p:column headerText="Id">
        <h:outputText value="#{match.id}" />
    </p:column>
 
    <p:column headerText="Competition">
        <h:outputText value="#{match.competition}" />
    </p:column>
 
    <p:column headerText="Description">
        <h:outputText value="#{match.description}" />
    </p:column>
 
    <p:column headerText="Team1">
        <h:outputText value="#{match.team1}" />
    </p:column>
    
     <p:column headerText="Team2">
        <h:outputText value="#{match.team2}" />
    </p:column>
    
     <p:column headerText="Goal1">
        <h:outputText value="#{match.goal1}" />
    </p:column>
    
    <p:column headerText="Goal2">
        <h:outputText value="#{match.goal2}" />
    </p:column>
    
    <p:column headerText="date">
        <h:outputText value="#{match.date}" >
        	<f:convertDateTime  pattern="dd.MM.yyyy hh:mm" />
        </h:outputText>
    </p:column>
    
    
     <f:facet name="footer">
            <p:commandButton process="singleDT" update="matchDialog" 
            icon="ui-icon-search" value="View" oncomplete="PF('matchDialog').show()" />
        </f:facet>
  <!--update=":matchDialog"  -->
   <f:facet name="footer">
            <p:commandButton process="singleDT" update="singleDT" 
            icon="ui-icon-search" value="Delete" action="#{matchManagerView.deleteMatch}" />
        </f:facet>
   
</p:dataTable>
	
	<!-- </h:form> -->
	
      </h:form> 
      
      <p:dialog dynamic="true" header="Match Info"  id="matchDialog" widgetVar="matchDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
        <p:outputPanel id="matchDetail" style="text-align:center;">
         <h:outputText value="Id:" />
          <h:outputText value="#{matchManagerView.selectedMatch.id}" />
            <p:panelGrid  columns="2" rendered="#{not empty matchManagerView.selectedMatch}" columnClasses="label,value">
                
 
                <h:outputText value="Id:" />
                <h:outputText value="#{matchManagerView.selectedMatch.id}" />
 
            </p:panelGrid>
        </p:outputPanel>
    </p:dialog>
		
      
</ui:composition>