<ui:composition xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:panelGrid>

		<h:form>
			<h:panelGrid columns="2" cellpadding="10">
				<h:outputText value="Nationality tab"/>
			</h:panelGrid>
		</h:form>

		<p:dataTable var="nationality" value="#{nationalityManagerView.nationalities}">
			<p:column headerText="Id">
				<h:outputText value="#{nationality.id}"/>
			</p:column>

			<p:column headerText="Name">
				<h:outputText value="#{nationality.name}"/>
			</p:column>

			<p:column headerText="Country code">
				<h:outputText value="#{nationality.countryCode}"/>
			</p:column>

			<p:column headerText="Delete">

			</p:column>
		</p:dataTable>

		<h:form>
			<h:panelGrid  columns="2" cellpadding="10">
				<h:outputLabel>Name:</h:outputLabel>
				<h:inputText size="10" value="#{nationalityManagerView.name}" />

				<h:outputLabel>Country code:</h:outputLabel>
				<h:inputText size="10" value="#{nationalityManagerView.countryCode}" />

				<h:commandButton value="Add" action="#{nationalityManagerView.addNationality}" />
				<h:outputLabel value="#{nationalityManagerView.result}"/>
			</h:panelGrid>
		</h:form>

	</h:panelGrid>
</ui:composition>