<ui:composition xmlns:f="http://java.sun.com/jsf/core"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	>
	
<h:form id="formUser">
    <p:dataTable id="userList" var="user" value="#{userManagerView.userList}" selectionMode="single" 
    selection="#{userManagerView.selectedUser}" rowKey="#{user.id}">
			<p:ajax event="rowSelect" />
 
   		 	<p:column headerText="Id" style="width:80px">
            	<h:outputText value="#{user.id}" />
   			</p:column> 
   			
			<p:column headerText="Name" style="width:80px">
           		<h:outputText value="#{user.name}" />
			</p:column>
			
	 		<p:column headerText="Password" style="width:80px">
           		<h:outputText value="#{user.password}" />
       		</p:column>
       		
    		<p:column headerText="Admin" style="width:80px">
           		<h:outputText value="#{user.permission}" />
       		</p:column>
       		
    		<p:column headerText="Credits" style="width:80px">
           		<h:outputText value="#{user.credits}" />
       		</p:column>
	</p:dataTable>

     <p:commandButton value="Add new user" 
     actionListener="#{userManagerView.onAddNewUser}"
     oncomplete="PF('dlgAddUser').show();"   />

     <p:commandButton value="Edit user"
     actionListener="#{userManagerView.onActionEditUser}"
     update="userDialogEdit:userDetail"    />
   
     <p:commandButton value="Delete user" 
     actionListener="#{userManagerView.onDeleteUser}"
     update="formUser:userList"    />
      
</h:form>

     <p:dialog header="Add new user" widgetVar="dlgAddUser" id="dlgAddUser" resizable="false" dynamic="true" modal="true" showEffect="fade" hideEffect="fade" >
      	<h:form id="userDialogAdd">
        <h:panelGrid columns="2" cellpadding="5">
            
            <h:outputLabel value="Id:" />
            <p:inputText value="#{userManagerView.userDetail.id}"  />
 
            <h:outputLabel value="Name:" />
            <p:inputText value="#{userManagerView.userDetail.name}" />
 
 			<h:outputLabel value="Password:" />
            <p:inputText value="#{userManagerView.userDetail.password}" />
            
            <h:outputLabel value="Permission:" />
            <p:inputText value="#{userManagerView.userDetail.permission}" />
            
            <h:outputLabel value="Credits:" />
            <p:inputText value="#{userManagerView.userDetail.credits}" />
            
            <f:facet name="footer">
                <p:commandButton value="Add" styleClass="ui-priority-primary" process="@form" oncomplete="PF('dlgAddUser').hide();"
                action="#{userManagerView.onAddNewUserDialog}" update="formUser:userList, dlgAddUser"  />          
            </f:facet>
        </h:panelGrid>
        </h:form>
     </p:dialog>
     
     <p:dialog header="Edit user" widgetVar="dlgEditUser" id="dlgEditUser" resizable="false" modal="true" showEffect="fade" hideEffect="fade" >
      	<h:form id="userDialogEdit">
        <p:outputPanel id="userDetail" style="text-align:center;">
        <h:panelGrid columns="2" cellpadding="5">
            
            <h:outputLabel value="Id:" />
            <p:inputText value="#{userManagerView.selectedUser.id}" />
 
            <h:outputLabel value="Name:" />
            <p:inputText value="#{userManagerView.selectedUser.name}" />
 
 			<h:outputLabel value="Password:" />
            <p:inputText value="#{userManagerView.selectedUser.password}" />
            
            <h:outputLabel value="Permission:" />
            <p:inputText value="#{userManagerView.selectedUser.permission}" />
            
            <h:outputLabel value="Credits:" />
            <p:inputText value="#{userManagerView.selectedUser.credits}" />
            
            <f:facet name="footer">
                <p:commandButton value="Confirm changes" styleClass="ui-priority-primary" process="@form" oncomplete="PF('dlgEditUser').hide();"
                action="#{userManagerView.onEditUserDialog}" update="formUser:userList, dlgEditUser"  />
            </f:facet> 
        </h:panelGrid>
        </p:outputPanel>
        </h:form>
     </p:dialog>
     
</ui:composition>