<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>JSF 2.0 Hello World</title>
</h:head>
<h:body>
		
<h:form id="form">
	<p:growl id="msgs" showDetail="true" autoUpdate="true"/>

   	<p:dataTable id="dtBet" var="bet" value="#{betManagerView.betsList}" selectionMode="single" rowKey="#{bet.id}" selection="#{betManagerView.selectedBet}">
			<p:ajax event="rowSelect" listener="#{betManagerView.onRowSelect}"/>
			
   		<p:column headerText="ID" style="width:10px">
	        <h:outputText value="#{bet.id}" />
	    </p:column>
	    <p:column headerText="Team1" style="width:100px">
	        <h:outputText value="#{bet.match.team1.name}" />
	    </p:column>
	 
	    <p:column headerText="Team2" style="width:100px">
	        <h:outputText value="#{bet.match.team2.name}" />
	    </p:column>
	 
	    <p:column headerText="Goals for team1" style="width:50px">
			<h:outputText value="#{bet.goal1}" />
	    </p:column>
	    
	    <p:column headerText="Goals for team2" style="width:50px">
               <h:outputText value="#{bet.goal2}" style="center" />
	    </p:column>
	    
  		    <p:column headerText="Date" style="width:100px">
	        <h:outputText value="#{bet.match.date}" />
	    </p:column>	 
	    
           <f:facet name="footer">
           	<p:commandButton value="Edit2" id="viewButton" process="@this" action="#{betManagerView.selectedEdit(bet)}" oncomplete="PF('betDialog').show()"/>
       	</f:facet>  
	</p:dataTable>

	
	<p:commandButton value="Add" id="addButton" process="@this"  actionListener="#{betManagerView.buttonActionAdd}" oncomplete="PF('betAddDialog').show()"/>
	<p:commandButton update="betDetail" value="Edit" id="editButton" process="@this" actionListener="#{betManagerView.buttonActionEdit}" styleClass="ui-priority-primary" oncomplete="PF('betDialog').show()" />
	
	<p:dialog header="Bet Info" widgetVar="betDialog" showEffect="fade" hideEffect="fade" resizable="false" appendToBody="false" modal="false">
        <p:outputPanel id="betDetail" style="text-align:center;">
            <p:panelGrid  columns="2" columnClasses="label,value">
 
                <h:outputText value="Id:" />
                <h:outputText value="#{betManagerView.selectedBet.id}" />
 
                <h:outputText value="Goal1" />
                <h:outputText value="#{betManagerView.selectedBet.goal1}" />
            </p:panelGrid>
        </p:outputPanel>
    </p:dialog>
    
    <p:dialog header="Bet Add" widgetVar="betAddDialog" showEffect="fade" hideEffect="fade" resizable="false" appendToBody="false" modal="false">
        <p:outputPanel id="betAdd" style="text-align:center;">
        	<p:outputLabel for="matches" value="Match:" />
	   		<p:selectOneMenu id="matches" value="#{betManagerView.match}" lazy="true" style="width:50px">
	           		<f:selectItem itemLabel="Select One" itemValue="" />
	            <f:selectItems value="#{betManagerView.matchesList}" />
	        </p:selectOneMenu>
	        <p:separator/>
	        <h:inputText style="width:50px"/>
	        <h:outputText value="    :    " />
	        <h:inputText style="width:50px"/>
        </p:outputPanel>
        <p:outputPanel>
        	<p:commandButton value="Save" id="btnAddSave" process="@this" style="float:center"/>
        </p:outputPanel>
    </p:dialog>
	
	</h:form>

</h:body>
</html>