<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<title>Fussball</title>
</h:head>
<h:body>
	<p:outputLabel>Fussball projekt</p:outputLabel>
	<h:form prependId="false"> 
    <p:tabView cache="false" prependId="false" activeIndex="#{mainBean.activeIndexTab}">
    <p:ajax event="tabChange" listener="#{mainBean.onTabChange}"></p:ajax>
        <p:tab title="User">
        	<ui:include src="/mainTabs/user.xhtml" />
        </p:tab>
         <p:tab title="Bet">
      		 <ui:include src="/mainTabs/bet.xhtml" />  
        </p:tab>
        <p:tab title="Match">
           <ui:include src="/mainTabs/match.xhtml" />
         </p:tab>
        
        <p:tab title="Competition">
            <ui:include src="/mainTabs/competition.xhtml" />
        </p:tab>
        <p:tab title="Nationality">
            <ui:include src="/mainTabs/nationality.xhtml" />
        </p:tab>
        <p:tab title="Team">
            <ui:include src="/mainTabs/team.xhtml" />
        </p:tab>
        <p:tab title="Scores">
            <ui:include src="/mainTabs/scores.xhtml" />
        </p:tab>
    </p:tabView>
	</h:form>
</h:body>
</html>